body {
  background-image: url(https://images.unsplash.com/photo-1571558541262-15f8cf6b0eb9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80);
  background-size: cover;
  background-attachment: fixed;
}

.btn {
  background-color: greenyellow;
  color: black;
  margin-left: 1rem;
}

.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: rgb(195, 199, 191);
}

.on {
  background-color: green;
}

.box:hover {
  background: orange;
}

.controls {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

h1,
h2,
h3,
h4 {
  color: greenyellow;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 1rem;
}

#rules {
  text-align: center;
  color: greenyellow;
  margin: 3rem;
  font-weight: 500;
  margin-top: auto;
  cursor: auto;
}

ol {
  color: greenyellow;
  margin-top: 2rem;
}
